<?xml version="1.0" encoding="UTF-8"?>
<config>
	<modules>
		<Company_Xcheckout>
			<version>0.1.0</version>
		</Company_Xcheckout>
	</modules>
	<global>
		<rewrite>
			<Company_xcheckout_onepage>
				<from><![CDATA[#^/checkout/onepage/#]]></from>
				<to>/xcheckout/onepage/</to>
			</Company_xcheckout_onepage>
		</rewrite>
		<blocks>
			<checkout>
				<rewrite>
					<!-- <onepage>Company_Xcheckout_Block_Onepage</onepage>  -->
					<onepage_billing>Company_Xcheckout_Block_Onepage_Billing</onepage_billing>
				</rewrite>
			</checkout>
		</blocks>
		<models>
              <customer>
                  <rewrite>
                      <customer>Company_Xcheckout_Model_Customer</customer>
                  </rewrite>
              </customer>
         </models>
	</global>
	<frontend>
		<routers>
			<Company_Xcheckout>
				<use>standard</use>
				<args>
					<module>Company_Xcheckout</module>
					<frontName>xcheckout</frontName>
				</args>
			</Company_Xcheckout>
		</routers>
	</frontend>
</config> 